html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 1rem;
    font-family: arial;
    line-height: 1.4;
  }
  
  footer {
     margin: 3rem;
    font-family: sans-serif;
    line-height: 1.0;
    weight: bold;
  }
  